.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &__label-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__label {
    font-size: 1rem;
    font-weight: 500;
  }

  &__input-row {
    position: relative;

    .show-password {
      position: absolute;
      bottom: 10px;
      right: 10px;
      background: none;
      padding: 0;
      cursor: pointer;
      display: flex;
      align-items: center;
    }
  }

  &__input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--gray-color-03);
    border-radius: 9px;
    padding: 0.75rem 1rem;
    background-color: transparent;
  }

  &__input::placeholder {
    color: var(--gray-color-01);
    opacity: 1;
  }

  &__input:focus {
    border-color: var(--gray-color-02);
    outline: none;
  }

  &__error {
    color: var(--red-color);
    font-size: 0.875rem;

    @media screen and (min-width: 1042px) {
      font-size: 1rem;
    }
  }

  &__requirements {
  }
  &__requirement {
    margin-block-end: 6px;
    &--valid {
      .icons {
        color: var(--primary-color);
      }
    }

    .icons {
      margin-right: 5px;
    }
    .text {
      color: var(--gray-color-01);
    }
  }
}
