@use "../../../../styles/utilities" as *;
@use "../../../../styles/typography" as *;

.hero {
  @include flex-column;
  align-items: center;
  padding-block: 2rem;

  &__content {
    @include flex-column;
    align-items: center;
    gap: 6px;
    text-align: center;
  }

  &__title {
    font-size: 2rem;
  }

  &__subtitle {
    font-size: 1.15rem;
  }

  &__description {
    margin-top: 1.5rem;
    line-height: 1.6;
    font-size: 1rem;
    color: var(--secondary-color);
  }

  &__line {
    margin-inline: auto;
    margin-block: 3.5rem;
  }

  &__actions {
    margin-block: 2rem;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
  .hero {
    &__title {
      font-size: 2.5rem;
    }

    &__subtitle {
      font-size: 2rem;
    }

    &__description {
      font-size: 1.5rem;
    }

    &__line {
      margin-block: 4.563rem;
    }
  }
}
