@use "../../../../styles/utilities" as *;
@use "../../../../styles/typography" as *;

.addTransactionForm {
  @include flex-center;
  justify-content: center;
}

form {
  width: 100%;
  @include flex-column;
  gap: 0.5rem;
  label {
    @include medium-16-24;
  }
  input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--gray-color-03);
    border-radius: 9px;
    padding: 0.75rem 1rem;
  }
  input::placeholder {
    color: var(--gray-color-01);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375;
  }
  input:focus {
    border-color: var(--gray-color-02);
  }
  select {
    background-color: transparent;
    border: 1px solid var(--gray-color-01);
    @include regular-16-24;
    padding: 0.75rem 1rem;
    width: 50%;
    border-radius: 9px;
    margin-bottom: 1rem;
    color: var(--gray-color-01);
    option {
      @include bold-16-24;
    }
  }
  span {
    color: var(--red-color);
    font-size: 1rem;
  }
  button {
  }
}
