:root {
  /* Colors: */
  --primary-color: #2563eb;
  --text-color: #111827;
  --header-color: #e6ebff;
  --background-color: #f5f7ff;
  --card-color: #ffffff;
  --button-text-color: #e9f7f3;
  --button-color: #0d50a9;

  --color-tester-one-gradient-one: #014871;
  --color-tester-one-gradient-two: #a0ebcf;
  --color-tester-two-gradient-one: #121c84;
  --color-tester-two-gradient-two: #8272da;
  --color-tester-three-gradient-one: #38a2d7;
  --color-tester-three-gradient-two: #561139;

  --color-tester-four-gradient-two: #99f5e0;
  --color-tester-five-gradient-one: #e0d2eb;
  --color-tester-five-gradient-two: #f7b3b0;
  --color-tester-six-gradient-one: #ffeb70;
  --color-tester-seven-gradient-one: #fccb90;
  --color-tester-seven-gradient-two: #d57eea;

  /* Spacing: */
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;

  /* Border: */
  --border-radius: 0.5rem;
}
