:root {
  /* Colors: */
  --primary-color: hsl(174, 59%, 39%);
  --secondary-color: hsl(240, 2%, 33%);
  --default-black-color: hsl(0, 0%, 10%);
  --white-color: hsl(0, 0%, 100%);

  --gray-color-01: hsl(0, 0%, 40%);
  --gray-color-02: hsl(0, 0%, 53%);
  --gray-color-03: hsl(0, 0%, 62%);
  --gray-color-04: hsl(0, 0%, 82%);
  --gray-color-05: hsl(0, 0%, 91%);
  --gray-color-06: hsl(0, 0%, 95%);

  --background-color-3: hsla(0, 0%, 100%, 0.08);
  --background-color-2: hsla(0, 0%, 100%, 0.702);
  --background-color-1: hsla(0, 0%, 82%, 0.25);
  --main-background-color: hsl(220, 16%, 96%);
  --main-secondary-color: hsl(228, 100%, 95%);
  --red-color: hsl(10, 81%, 51%);
  --green-color: hsl(140, 39%, 49%);
  --primary-color-hover: hsl(174, 59%, 35%);

  --drop-shadow: 0px 26px 26px 0px hsla(334, 66%, 25%, 0.04);
  --shadow-01: 0px 20px 25px 0px hsla(173, 15.08%, 35.1%, 0.1);
  --shadow-02: 0px 12px 16px hsla(173, 15%, 35%, 0.15);
  --sha: -1049px -732px 358px hsla(180, 20%, 1%, 0) -671px -469px 327px
    hsla(180, 20%, 1%, 0.01) -377px -264px 276px
    hsla(180, 20%, 1%, 0.05) -168px -117px 205px
    hsla(180, 20%, 1%, 0.09) -42px -29px 113px hsla(180, 20%, 1%, 0.1) 0px 0px
    0px hsla(180, 20%, 1%, 0.1);

  --text-color: #191919;
  --text-color-secondary: #525256;
  --background-color: #f4f5f7;
  --card-color: #ffffff;
  --button-text-color: #ffffff;
  --button-color-hover: #258e83;
  --input-border-color: #9f9f9f;
  --input-border-color-active: #525256;
  --input-placeholder-color: #666666;
  --input-placeholder-color-active: #878787;

  --color-tester-one-gradient-one: #014871;
  --color-tester-one-gradient-two: #a0ebcf;
  --color-tester-two-gradient-one: #121c84;
  --color-tester-two-gradient-two: #8272da;
  --color-tester-three-gradient-one: #38a2d7;
  --color-tester-three-gradient-two: #561139;

  --color-tester-four-gradient-two: #99f5e0;
  --color-tester-five-gradient-one: #e0d2eb;
  --color-tester-five-gradient-two: #f7b3b0;
  --color-tester-six-gradient-one: #ffeb70;
  --color-tester-seven-gradient-one: #fccb90;
  --color-tester-seven-gradient-two: #d57eea;
}
