@use "../../../../styles/utilities" as *;
@use "../../../../styles/typography" as *;

.breakdown {
  @include flex-column;
  gap: 8px;

  &__header {
    @include flex-column;

    &--title {
      @include header-22-32;
      color: var(--gray-color-02);
    }
    span {
      @include medium-12-16;
      color: var(--gray-color-03);
    }
  }

  &__card {
    height: 212px;
    padding: 24px 8px;
    gap: 0;

    &--all-items {
      display: flex;
      gap: 24px;
      .components {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &__item {
          display: flex;
          align-items: start;
          gap: 2px;

          &--icon {
            height: 40px;
            border-radius: 8px;
            background-color: var(--background-color-1);
            padding: 8px;
            display: flex;
            align-items: center;
          }

          &--details {
            display: flex;
            flex-direction: column;
            align-items: start;
            .content {
              @include flex-column;
              &__name {
                @include flex-column;

                span {
                  @include medium-12-16;
                  color: var(--gray-color-02);
                }

                p {
                  @include bold-16-24;
                }
              }

              &__percentage {
                @include flex-center;
                gap: 8px;
                border-radius: 16px;

                span {
                  @include medium-12-16;
                  color: var(--gray-color-03);
                }
                img {
                }
              }
            }
            img {
              opacity: 0.5;
            }
          }
        }
      }
      .line {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .breakdown {
    align-items: center;

    &__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: end;
      width: 728px;
    }

    &__card {
      padding: 20px 24px;

      &--all-items {
        flex-direction: column;
        .components {
          flex-direction: row;
          gap: 40px;

          &__item {
            gap: 16px;
            padding: 8px 16px;

            &--icon {
              height: 56px;

              img {
              }
            }

            &--details {
              @include flex-center;
              flex-direction: row;
              .content {
                &__name {
                  span,
                  p {
                    width: 88px;
                  }
                }
              }
              img {
                opacity: 0.5;
              }
            }
          }
        }
      }
    }
  }
}
