.features-card {
  width: 100%;
  min-height: auto;
  padding: 18px;
  border-radius: 17px;
  background-color: var(--card-color);
  text-align: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  &__title {
    color: var(--text-color);
    font-weight: 900;
    font-size: 20px;
  }

  &__description {
    color: var(--text-color);
    font-size: 15px;
    margin-block: 20px;
  }
}
