.features-card {
  width: 100%;
  min-height: auto;
  padding: 1.125rem;
  border-radius: 1.063rem;
  background-color: var(--white-color);
  text-align: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  &__title {
    font-weight: 800;
    font-size: 1.25rem;
  }

  &__description {
    color: var(--secondary-color);
    font-size: 1rem;
    margin-block: 1.25rem;
  }
}

@media screen and (min-width: 1024px) {
  .features-card {
    &__title {
      font-size: 1.6rem;
    }

    &__description {
      font-size: 1.125rem;
      margin-block-start: 2rem;
    }
  }
}
