.overview {
  padding: 1rem;
  @media screen and (min-width: 1024px) {
    display: grid;
    grid-template-areas:
      "top top"
      "left right-top"
      "left right-bottom";

    &__top {
      grid-area: top;
      margin-bottom: 32px;
    }

    &__left {
      grid-area: left;
      margin-right: 24px;
    }

    &__right-top {
      grid-area: right-top;
      margin-bottom: 32px;
    }
    &__right-bottom {
      /*max-width: 728px;
        max-height: 252px;*/
      grid-area: right-bottom;
      /*grid-column: 2;
        grid-row: 3;*/
    }
  }
}
