.header {
  padding-block: var(--spacing-medium);
  background-color: var(--header-color);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 0px;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    display: block;
  }
  &__image {
    width: 100px;
    height: 100px;
  }

  &__navigation {
    display: flex;
    gap: var(--spacing-medium);
    &-link {
      display: inline-block;
      background: var(--button-color);
      color: var(--button-text-color);
      padding: 0.75rem 1.5rem;
      border-radius: var(--border-radius);
    }
  }
}
