.header {
  padding: 0.5rem;
  background-color: var(--main-secondary-color);

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    display: block;
  }
  &__image {
    width: 100px;
    height: 100px;

    @media screen and (min-width: 1024px) {
      width: 125px;
      height: 125px;
    }
  }

  &__navigation {
    display: flex;
    gap: 0.5rem;

    .register {
      display: none;

      @media screen and (min-width: 768px) {
        display: block;
      }
    }
  }
}
