.header {
  padding: var(--spacing-small);
  background-color: var(--header-color);

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    display: block;
  }
  &__image {
    width: 100px;
    height: 100px;
  }

  &__navigation {
    display: flex;
    gap: var(--spacing-small);

    .register {
      display: none;

      @media screen and (min-width: 768px) {
        display: block;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding: var(--spacing-large);

    &__image {
      width: 125px;
      height: 125px;
    }
  }
}
