@use "../../../styles/utilities" as *;
@use "../../../styles/typography" as *;

.graph {
  width: 128px;
}

.goal-gauge {
  width: 128px;
  height: 68px;

  &__svg {
    display: block;
    width: 100%;
    height: auto;
    overflow: visible;
  }

  &__track {
    fill: #e8e8e8;
  }

  &__progress {
    fill: none;
    stroke: #299d91;
    stroke-width: 12.8;
    stroke-linecap: round;

    transition: stroke-dasharray 0.5s ease;
  }

  &__needle-wrapper {
    transition: transform 0.5s ease;
  }

  &__needle {
    fill: #299d91;
  }

  &__pivot {
    fill: #299d91;
  }

  &__range {
    @include flex-center;
    justify-content: space-between;
    width: 144px;
    .start {
      @include medium-12-16;
      color: var(--gray-color-04);
      width: 26px;
    }
    .current {
      @include semibold-16-24;
      width: 30px;
    }
    .goal {
      @include medium-12-16;
      max-width: 32px;

      color: var(--gray-color-04);
    }
  }
}
