@use "../../../styles/utilities" as *;
@use "../../../styles/typography" as *;

.overview-header {
  padding: 1rem;
  background-color: var(--main-background-color);
  width: 100%;
  min-height: 80px;

  &__user {
    @include flex-center;
    justify-content: space-between;
  }
  &__user-info {
    @include flex-column;
    gap: 4px;
  }

  &__user-name {
    @include bold-24-28;
    text-transform: capitalize;
  }

  &__date {
    @include flex-center;
    @include regular-14-20;
    gap: 4px;
    color: var(--gray-color-03);
  }
  &__notification {
    &--button {
      @media screen and (min-width: 1024px) {
        display: none;
      }
    }
  }

  &__mobile-actions {
    @include flex-center;
    margin-block-start: 1rem;
    justify-content: space-between;

    img {
      width: 24px;
      height: 24px;
      transition: all 0.3s ease;
    }
  }

  &__notification-button {
    display: none;
  }
  &__search {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    position: relative;

    transition:
      max-height 0.3s ease,
      opacity 0.3s ease;

    &--open {
      max-height: 80px;
      opacity: 1;
      margin-top: 1rem;
    }
  }

  &__search-input {
    width: 100%;
    height: 48px;
    padding: 12px 24px 12px 32px;
    background-color: var(--white-color);
    border-radius: 12px;
    border: none;
    box-shadow: var(--drop-shadow);
    font-size: 1rem;

    &::placeholder {
      color: var(--gray-color-03);
      @include regular-16-24;
    }
  }

  &__search-icon {
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);
  }
}

@media screen and (min-width: 1024px) {
  .overview-header {
    @include flex-center;
    justify-content: space-between;
    padding: 20px 32px 20px 24px;

    &__user-info {
      flex-direction: row;
      align-items: center;
      gap: 24px;
    }

    &__user-name {
      font-size: 1.5rem;
    }

    &__mobile-actions {
      display: none;
    }

    &__desktop-actions {
      @include flex-center;
      flex-direction: row;
      gap: 40px;
    }
    &__notification-button {
      cursor: pointer;
      display: block;
    }

    &__search {
      display: block;
      max-height: none;
      opacity: 1;
      overflow: visible;
    }
    &__search-input {
      width: 352px;
    }
  }
}
