@use "../../../../styles/utilities" as *;
@use "../../../../styles/typography" as *;

.transaction {
  @include flex-column;
  gap: 8px;

  &__header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    h2 {
      @include header-22-32;
      color: var(--gray-color-02);
    }

    button {
      @include flex-center;
      @include medium-12-16;
      gap: 8px;
      color: var(--gray-color-02);
    }
  }

  &__card {
    gap: 12px;
    padding: 16px 16px 34px 16px;

    &--header {
      display: flex;
      gap: 20px;
      border-bottom: 1px solid hsla(0, 0%, 62.35%, 0);

      button {
        @include bold-16-24;
        color: var(--secondary-color);
        padding: 8px;
        border: 2px solid;
        border-color: hsla(173, 58.59%, 38.82%, 0);
      }
      .active {
        border-color: hsla(173, 58.59%, 38.82%, 1);
        color: var(--primary-color);
      }
    }

    &--no-transactions {
      @include flex-column;
      align-items: center;
      gap: 16px;
      p {
        @include semibold-16-24;
      }
    }

    &--items {
      @include flex-column;

      .item {
        @include flex-center;
        gap: 28px;
        padding-block: 10px;

        &__details {
          @include flex-center;
          gap: 8px;

          img {
            padding: 8px;
            border-radius: 8px;
            background-color: var(--background-color-1);
          }
          .text {
            @include flex-column;
            p {
              @include semibold-16-24;
              width: 146px;
            }
            span {
              @include regular-12-16;
              color: var(--gray-color-03);
              text-transform: capitalize;
            }
          }
        }

        &__amount {
          @include flex-column;

          p {
            @include semibold-16-24;
            color: var(--secondary-color);
          }
          span {
            @include regular-12-16;
            color: var(--gray-color-03);
            text-align: center;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .transaction {
    @include flex-column;
    gap: 8px;

    &__header {
      align-items: center;
      width: 352px;
    }
    &__card {
      padding: 16px 24px 34px 24px;

      &--header {
        width: 304px;
      }

      &--items {
        .item {
          padding-block: 24px;

          &__details {
            gap: 16px;
          }

          &__amount {
            justify-content: center;
            align-items: end;
          }
        }
      }
    }
  }
}
