.footer {
  padding-block: 0.5rem;
  background-color: var(--main-secondary-color);

  &__content {
    display: flex;
    justify-content: center;
  }

  &__copyright {
    color: var(--gray-color-01);
    font-size: 0.875rem;
  }
}
