.footer {
  padding-block: var(--spacing-large);
  background-color: var(--header-color);

  &__content {
    display: flex;
    justify-content: center;
  }

  &__copyright {
    color: var(--color-text);
    font-size: 0.875rem;
  }
}
