.register {
  width: 100%;
  max-width: 400px;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  &__password {
    .show-password {
      position: absolute;
      bottom: 10px;
      right: 10px;
      background: none;
      padding: 0;
      cursor: pointer;
      display: flex;
      align-items: center;
    }
    input {
      padding-inline-end: 3rem;
    }
  }

  &__submit {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    .terms {
    }
    .register-button {
      width: 100%;
      text-align: center;
    }
  }
}
