@use "../../../styles/utilities" as *;
@use "../../../styles/typography" as *;

.register {
  width: 100%;
  max-width: 400px;

  &__content {
    @include flex-column;
    gap: 32px;
  }

  &__inputs {
    @include flex-column;
    align-items: stretch;
    gap: 1.5rem;
  }

  &__password {
    input {
      padding-inline-end: 3rem;
    }
  }

  &__submit {
    @include flex-column;
    width: 100%;
    gap: 1rem;
    margin-block-end: 2rem;
    .terms {
      @include regular-14-20;
      color: var(--gray-color-01);

      a {
        color: var(--primary-color);
      }
    }
    .register-button {
      @include semibold-16-24;
      width: 100%;
      text-align: center;
    }
  }
}
